# Mega-Sena Analyse

A Mega-Sena é uma das maiores modalidades de jogos de loteria do Brasil. O sorteio é realizado pelo menos duas vezes na semana,
além de haver o prêmio principal, o qual o apostador que acertar 6 (seis) números pode levar para casa milhões de reais, o apostador ainda pode receber quantias menores, acertando 4 (quatro) ou 5 (cinco) dezenas.

Os números da aposta, chamado popularmente de jogo, pode ser formado tanto pelo jogador, quanto por um sistema, o qual gera números aleatórios, chamado de "Surpresinha".

O prêmio corresponde a 45,3% da arrecadação do sorteio. Dessa porcentagem ocorre a seguinte distribuição:
                - 35% são distribuídos entre o(s) acertador(es) da Sena, 
                - 19% da Quina e
                - 19% da Quadra,
                - 22% são distribuídos nos concursos de final 0 e 5,
                - 5% para os últimos concursos do ano de final 0 ou 5, 
                - e outra parte do valor é repassado para o Governo Federal.
                
Caso não haja vencedor, o prêmio é acumulado para o próximo sorteio. Enquanto caso haja vencedor e não ele busque o valor em 90 dias do sorteio, o valor é repassado ao tesouro nacional para aplicação no FIES - Fundo de Financiamento ao Estudante do Ensino Superior.

A seguir analisemos os dados da Mega-Sena, de 03/1996 a 03/2018.

Os dados são apresentados com as seguintes colunas:
    1. id
    2. Concurso
    3. Dezena1
    4. Dezena2
    5. Dezena3
    6. Dezena4
    7. Dezena5
    8. Dezena6
    9. Arrecadação Total
    10. Ganhadores da Sena
    11. Rateio da Sena
    12. Ganhadores da Quina
    13. Rateio da Quina
    14. Ganhadores da Quadra
    15. Rateio da Quadra
    16. Acumulação
    17. Valor Acumulado
    18. Estimativa do Prêmio
    
A seguir é apresentada uma tabela com os 5 primeiros concursos realizados.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt 
arquivo = 'basedados.xlsx'
excel = pd.ExcelFile(arquivo)
print(excel.sheet_names)
dados = excel.parse(0)
dados.head()

['MegaSena']

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0